
{% extends 'base.html' %}
{% block content %} 
    <ul>
        <li>{{movie.title}}</li>
        <li>{{movie.budget}}</li>
        <li>{{movie.genres}}</li>
    <ul>
    {% if request.user.is_authenticated %}
        {% if not context.is_favorite %}
            <div>
                <a href="/add_to_favorite/{{movie.id}}">
                    Add to favorite
                </a>
            </div>
            {% else %}
            <div>
                <a href="/remove_from_favorites/{{movie.id}}">
                    Remove from favorites
                </a>
            </div>
        {% endif %}

        <form action="/movies/{{movie.id}}" method="POST">
            {% csrf_token %}
            {{ review_form.as_p }}
        <input type="submit" value="submit" />
        </form>
       
    {% endif %}
    <div>
        You might also like:
        {% for movie in recommended_movies %}
            <a href = "/movies/{{movie.id}}">{{ movie.title }}</a>
        {% endfor %}
        
    </div>
    {% for review in reviews %}
    <div class="container">
        <div class="comment mt-4 text-justify float-left">{{review.user.username}}</div>
        <div>{{review.review}}</div>
        <div>{{review.created_at}}</div>
    </div>
    {% endfor %}
{% endblock %}